<!DOCTYPE html>
html(lang="ru-RU")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Мебель ручной работы
    link(rel='stylesheet' href='./assets/styles/app.min.css')
    script(src='./assets/scripts/app.js' defer)
  body
    .wrapper
      header.header
        .container__header
          .header__logo
            img(src="./assets/images/logo.png", alt="", class="logo__image")
          ul.header__menu
            li.menu__item
              a(href="#" class="item__link") Страница 1
            li.menu__item
              a(href="#" class="item__link") Страница 2
            li.menu__item
              a(href="#" class="item__link") Страница 3
      section.hero   
        .container
          .hero__title Сайт мебели
          .hero__info
            .hero__text Наша мебель изготовлена по новейшим технологиям. Она великолепно подойдет к любому интерьеру. Сделайте заказ прямо сейчас и Вы не пожалеете.
            form(action="server.php" method="post" class="form__elem" id="order-form")
              .order__form
                .form__title Оставьте ваши данные и мы вам перезвоним.
                .form__inputs
                  input(type="text" class="form__block-input" id="name" name="user-name" placeholder="Имя" required)
                  input(type="text" class="form__block-input" id="phone" placeholder="Телефон" name="user-phone" required)
                  input(type="text" class="form__block-input" id="email" placeholder="Email" name="email")
                  textarea(type="text" class="form__block-input-textarea" placeholder="Ваше сообщение" id="comment" name="comment")
                .form__buttons
                  button(class="send__button" type="submit") Отправить
                  input(type="reset" class="reset__button" value="Очистить")
      section.about
        .container.container__about
          .about__title Мы делаем мебель 
          .about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quae atque earum, voluptas qui dolore quis? Tenetur non, unde perspiciatis quas eum fuga magnam enim corporis quam repudiandae soluta libero! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim aliquid deleniti quod esse sint ut ipsa quasi temporibus adipisci consequuntur veniam dolorem error similique sed eum, dolorum optio, dolor commodi?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quae atque earum, voluptas qui dolore quis? Tenetur non, unde perspiciatis quas eum fuga magnam enim corporis quam repudiandae soluta libero! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim aliquid deleniti quod esse sint ut ipsa quasi temporibus adipisci consequuntur veniam dolorem error similique sed eum, dolorum optio, dolor commodi?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quae atque earum, voluptas qui dolore quis? Tenetur non, unde perspiciatis quas eum fuga magnam enim corporis quam repudiandae soluta libero! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim aliquid deleniti quod esse sint ut ipsa quasi temporibus adipisci consequuntur veniam dolorem error similique sed eum, dolorum optio, dolor commodi?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quae atque earum, voluptas qui dolore quis? Tenetur non, unde perspiciatis quas eum fuga magnam enim corporis quam repudiandae soluta libero! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim aliquid deleniti quod esse sint ut ipsa quasi temporibus adipisci consequuntur veniam dolorem error similique sed eum, dolorum optio, dolor commodi?
      section.gallery
        .container
          .gallery__title Галерея
          .gallery__block
            .gallery__col
              .gallery__img
                img(src="./assets/images/gallery3.png", alt="" class="img__pic")
              .gallery__text-title Some text title
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery2.jpg", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery3.png", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery5.jpg", alt="" class="img__pic")
              .gallery__text Some text
            .gallery__col
              .gallery__img
                img(src="./assets/images/gallery.jpg", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery5.jpg", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery2.jpg", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery3.png", alt="" class="img__pic")
              .gallery__text Some text
            .gallery__col
              .gallery__img
                img(src="./assets/images/gallery4.jpg", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery.jpg", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery3.png", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery5.jpg", alt="" class="img__pic")
              .gallery__text Some text
            .gallery__col
              .gallery__img
                img(src="./assets/images/gallery3.png", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery4.jpg", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery3.png", alt="" class="img__pic")
              .gallery__text Some text
              .gallery__img
                img(src="./assets/images/gallery.jpg", alt="" class="img__pic")
              .gallery__text Some text
            
        
